<div class="span3 bs-docs-sidebar"> 
  <ul class="nav nav-list bs-docs-sidenav"> 
    <li><a href="/user/profile/edit"><i class="icon-chevron-right"></i> 修改个人资料</a></li> 
    <li><a href="/user/profile"><i class="icon-chevron-right"></i> 我的文章</a></li> 
    <li><a href="/user/profile/qrcode"><i class="icon-chevron-right"></i> 二维码</a></li> 
    <li><a href="/user/profile/crawl"><i class="icon-chevron-right"></i> 采集类</a></li>
    <li><a href="/user/profile/http"><i class="icon-chevron-right"></i> HTTP请求</a></li>
    <li><a href="/user/profile/api"><i class="icon-chevron-right"></i> 访问API</a></li>
    <li><a href="/user/profile/apiDetail"><i class="icon-chevron-right"></i> 访问API 2</a></li>
    <li><a href="/user/profile/uploadify"><i class="icon-chevron-right"></i>Uploadify</a></li>
    <li><a href="/user/profile/xhprof"><i class="icon-chevron-right"></i>xhprof</a></li>
    <li><a href="/user/profile/city"><i class="icon-chevron-right"></i>省市区三级联动</a></li>
    <li><a href="/user/profile/cityPop"><i class="icon-chevron-right"></i>省市区三级联动2</a></li>
    <li><a href="/user/profile/rewrite"><i class="icon-chevron-right"></i>URL 路由</a></li>
    <li><a href="/user/profile/encrypt"><i class="icon-chevron-right"></i>简易加密与解密</a></li>
    <li><a href="/user/profile/phpmailer"><i class="icon-chevron-right"></i>PHPMailer</a></li>
    <li><a href="/user/profile/weixin"><i class="icon-chevron-right"></i>微信 SDK</a></li>
    <li><a href="/user/profile/qiniu"><i class="icon-chevron-right"></i>七牛 SDK</a></li>
    <li><a href="/yarClient/article"><i class="icon-chevron-right"></i>Yar调文章列表</a></li>
    <li><a href="/yarClient/articleDetail"><i class="icon-chevron-right"></i>Yar调文章详细</a></li>
    <li><a href="/yarClient/concurrent"><i class="icon-chevron-right"></i>Yar并发调列表</a></li>
    <li><a href="/yarClient/concurrentDetail"><i class="icon-chevron-right"></i>Yar并发调详细</a></li>
  </ul>
</div>